{
  "defaultConfig":{
    "api":"CoreEngine",
    "buildType":"develop",
    "libraryDir":"lib/"
  },
  "buildDirs":[
    {
      "dir":"dev/",
      "targetSource":"main.js"
    }
  ],
  "compile":[
    {
      "path":"main.js",
      "sourceType":"mod"
    },
    {
      "path":"launcher.js",
      "sourceType":"launcher"
    }
  ],
  "resources":[
    {
      "path":"_/",
      "resourceType":"resource"
    },
    {
      "path":"gui/",
      "resourceType":"gui"
    }
  ],
  "nativeDirs":[
    {
      "path":"native/sample"
    }
  ],
  "javaDirs":[]
}